
Lambada/Lambada.sln
Lambada/.vs/Lambada/v15/Browse.VC.db
Lambada/.vs/Lambada/v15/Browse.VC.opendb
Lambada/Lambada/Lambada.vcxproj
Lambada/Lambada/Lambada.vcxproj.filters
Lambada/Lambada/Lambada.vcxproj.user
